.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/mebao1.jpg');
  background-size: cover;
  background-position: center;
  padding: 200px;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.button {
  background-color: #1A48E3;
  color: white;
  padding: 14px 40px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.button:hover {
  background-color: #0D1EC6;
  color: white;
}


.container {
  width: 1200px;
  margin: auto;
}



.card {
  width: 300px;
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  /*width: 200px;*/
  text-align: center;
  padding: 24px;
  flex-grow: 1;
}


.card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 24px;
}

footer {
    padding: 70px 0 10px;
    background-color: #eaeae8;
}

.contact {
    width: 800px;
    margin: 0 auto;        /* 水平居中 */
    text-align: center;    /* 文字居中 */
}

.contact h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.contact p {
    margin: 6px 0;
    color: #333;
}